footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #e4e4e4;
  color: white;
  position: relative;
  margin: 0;
  width: 100%;
  text-align: center;
  border-top: solid 1px #e4e4e4;
}
